@using hospitalUtilities

@model PagedREsult<hospitalVm.ApointmentVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Cloudscribe.Web.Pagination

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<style>

    body {
        background-image: url('/Images/hospital11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .form-group {
        display: inline-block;
        margin-right: 20px;
    }

    .form-control-inline {
        display: inline-block;
        width: auto;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<a asp-controller="Apointment" asp-action="Save">
    <i class="fas fa-plus-circle"></i> Add New TimingShifts
</a>
<table class="table table-bordered table-hover table-success
            =table-bordered">
  <thead>
        <tr>
            <th>ID</th>
            <th>discreaption</th>
            <th>startsiftPM</th>
            <th>CreateDate</th>

            <th>applicationUserid</th>

            <th>isavilable</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var hospital in Model.Data)
        {
            <tr>
                <td>@hospital.id</td>
                <td>@hospital.discreaption</td>
                <td>@hospital.CreateDate</td>
                <td>@hospital.ApplicationUserid</td>


                <td>@hospital.IsAvailable</td>
                <td>
                    <a asp-controller="Apointment" asp-action="Details" asp-route-id="@hospital.id">
                        <i class="fas fa-info-circle" title="Details"></i>
                    </a>
                    <a asp-controller="Apointment" asp-action="Save" asp-route-id="@hospital.id">
                        <i class="fas fa-edit" title="Edit"></i>
                    </a>
                    <a asp-controller="Apointment" asp-action="Delete" asp-route-id="@hospital.id">
                        <i class="fas fa-trash-alt" title="Delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.pageSize; i++)
        {
            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                <a class="page-link" href="/Admin/Contact/Index?pagnumber=@i">@i</a>
            </li>
        }
    </ul>
</nav>


