
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@model hospitalVm.HospitalVm


<h1>Hospital Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            <strong>City:</strong> @Model.City<br />
            <strong>Pincode:</strong> @Model.Pincode<br />
            <strong>Country:</strong> @Model.Country<br />
            <strong>Type:</strong> @Model.Type
        </p>
        <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
    </div>
</div>
