@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination
@using hospitalUtilities
@model IEnumerable<hospitalVm.HospitalVm>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}<style>
     body {
         background-image: url('/Images/hospital.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
     }
</style>

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <a asp-controller="Hospitail" asp-action="Save" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Add New Hospital
    </a>

    <table class="table table-bordered table-hover table-success
            table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Pincode</th>
                <th>Country</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hospital in Model)
            {
                <tr>
                    <td>@hospital.id</td>
                    <td>@hospital.Name</td>
                    <td>@hospital.City</td>
                    <td>@hospital.Pincode</td>
                    <td>@hospital.Country</td>
                    <td>@hospital.Type</td>
                    <td>
                        <a asp-controller="Hospitail" asp-action="Details" asp-route-id="@hospital.id" class="btn btn-info">
                            <i class="fas fa-info-circle" title="Details"></i>
                        </a>
                        <a asp-controller="Hospitail" asp-action="Save" asp-route-id="@hospital.id" class="btn btn-warning">
                            <i class="fas fa-edit" title="Edit"></i>
                        </a>
                        <a asp-controller="Hospitail" asp-action="Delete" asp-route-id="@hospital.id" class="btn btn-danger">
                            <i class="fas fa-trash-alt" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
