@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using hospitalUtilities
@model PagedREsult<hospitalVm.ContactVm>
@{
    Layout = "_Layout";
    ViewData["Title"] = "All Contacts";
}
<partial name="_AlertMessage" />

<h2>@ViewData["Title"]</h2>
<a asp-controller="Contact" asp-action="Save" id="Add" class="btn btn-primary">
    <i class="fas fa-plus-circle"></i> Add New Contact
</a>
<table class="table table-bordered table-hover table-success
            table-bordered">
    <!-- Added "bg-info" class here -->
    <thead>
        <tr>

            <th>Phone</th>
            <th>Email</th>
            <th>Hospital Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="contactTableBody">
        @foreach (var contact in Model.Data)
        {
            <tr>

                <td>@contact.phone</td>
                <td>@contact.Email</td>
                <td>@contact.Hospitalname</td>
                <td>
                    <a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.Id" class="btn btn-info">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                    <a asp-controller="Contact" asp-action="Save" asp-route-id="@contact.Id" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.pageSize; i++)
        {
            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                <a class="page-link" href="/Admin/Contact/Index?pagnumber=@i">@i</a>
            </li>
        }
    </ul>
</nav>
