@model hospitalVm.ApointmentVm

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All visits";
}
<h1> Details</h1>
<style>
    body {
        background-image: url('images/hospital.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">contacts</h5>
        <p class="card-text">
           <strong>doctorName:</strong> @Model.DoctorName<br />
          <strong>PatientName:</strong> @Model.PatientName<br />
            <strong>VisiteNotebydoctor:</strong> @Model.VisiteNotebydoctor<br />
            <strong>visitdate:</strong> @Model.CreateDate<br />
            <strong>VisitType:</strong> @Model.VisitType<br />
            <strong>VisitStatus:</strong> @Model.VisitStatus<br />
        </p>
        @{
            if (User.IsInRole("Admin"))
            {
                <div>
                    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
                    Getalldoctorvisit
                </div>

                
            }
            else
            {
                <div>
                    <a class="btn btn-primary" asp-controller="Appiontmentvisite" asp-action="Getalldoctorvisit">Get All Doctor Visits</a>
                </div>
            }
        }

     
    </div>
</div>
