@model PagedList.IPagedList<hospitalVm.ApointmentVm>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Patients";
}

<partial name="_AlertMessage" />
<link href="~/css/contactindex.css" rel="stylesheet" />

<form id="search-form" method="get" 
>
    <input type="text" name="search" value="@ViewBag.Search" placeholder="Search..." id="search-input" class="form-control">
</form>

<table class="table table-bordered table-hover table-success">
    <thead>
        <tr>
            <th>Visit Date</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Visit Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="patientTableBody">
        @foreach (var patient in Model)
        {
            <tr class="row-style">
                <td>@patient.CreateDate</td>
                <td>@patient.PatientName</td>
                <td>@patient.DoctorName</td>
                <td 
                    >@patient.VisitStatus</td>
                <td 
                    >
                    <a asp-route-PatientId="@patient.patientid" asp-area="Patient" asp-controller="PatientHistory" 
                    asp-action="GetALLpatientHistory" class="btn btn-primary">
                        Get All Patient History
                    </a>

                    <a asp-route-patientid="@patient.patientid" asp-area="Doctor" asp-controller="PatientReport"
                       asp-action="GetAllPatientReportsbyPatientId" class="btn btn-primary">
                        Patient Reports
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="GetAllVistitsbyPatientid" asp-route-page="1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="GetAllVistitsbyPatientid" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
            <a class="page-link" asp-action="GetAllVistitsbyPatientid" asp-route-page="@Model.PageCount" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


@section Scripts{
    <script src="~/js/getallvistitsbypatientid.js"></script>

}
