




@model PagedList.IPagedList<hospitalVm.ApointmentVm>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Patients";
}
@if (!Model.Any())
{
    <h1>No Data</h1>
}

<partial name="_AlertMessage" />
<link href="~/css/contactindex.css" rel="stylesheet" />

    <form id="search-form" method="get" asp-action="Index">
    <input type="text" name="search" value="@ViewBag.Search" placeholder="Search..." id="search-input" class="form-control">
    </form>

    <a asp-controller="Patient" asp-action="Save" id="Add">
        <i class="fas fa-plus-circle"></i> Add New Visite
    </a>

<table class="table table-bordered table-hover table-success">
    <thead>

            <tr>
            <th>CreateDate</th>
            <th>DoctorName</th>
                <th>VisitStatus</th>
                <th>VisitType</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="patientTableBody">
            @foreach (var patient in Model)
        {
            
                <tr id="@patient.doctorid" class="row-style" data-visit-id="@patient.DoctorAppointmentVIsitid">
                    <td>@patient.CreateDate</td>
                    <td>@patient.DoctorName</td>
                    <td class="visit-status-cell">@patient.VisitStatus</td>
                    <td>@patient.VisitType

                    <input value="@patient.id" type="hidden" />
                    <input value="@patient.doctorid" type="hidden" />
                    <input value="@patient.DoctorAppointmentVIsitid" type="hidden" />
                    </td>
               

                    <td>
                    <a asp-controller="Appiontmentvisite" asp-action="Details" class="btn btn-primary  " asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid">
                        <i class="fas fa-info-circle" title="Details"></i>Details
                        </a>
                    <a asp-controller="Appiontmentvisite" asp-action="Save" class="btn btn-primary  "  asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid" data-action="edit">
                        <i class="fas fa-edit" title="Edit"> </i> Eidt Vist
                        </a>
                    <a asp-controller="Appiontmentvisite" asp-action="Delete" class="btn btn-primary   " asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid" data-action="delete">
                        <i class="fas fa-trash-alt" title="Delete"></i>Delete
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-success arrive-button"
                       asp-controller="Appiontmentvisite" asp-action="ArrivedVisit"
                       asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid" onclick="addstyle(this)">
                            Arrive
                        </a>
                        <a class="btn btn-danger cancel-button"
                           asp-controller="Appiontmentvisite" asp-action="CancelledVisitSt"
                       asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid" onclick="addstyle(this)">
                            Cancel
                        </a>
                      
                        <a class="btn btn-primary cancel-button"
                           asp-controller="Appiontmentvisite" asp-action="completed"
                       asp-route-DoctorAppointmentVIsitid="@patient.DoctorAppointmentVIsitid">
                            Complete
                        </a>
                   

                </td>

                </tr>

            }
        </tbody>
    </table>
<partial name="_PaginationPartial" />
@section Scripts{
    <script src="~/js/appiontmentindex.js"></script>


}