@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@model hospitalVm.DoctorVm
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-image: url('/Images/hospital11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .foromRoww {
        display: flex;
        justify-content: center;
    }

    .card-text {
        text-align: center;
        padding: 10px;
    }
</style>
<div class="text-center mt-4">
    <a asp-controller="Doctor" asp-action="Save" asp-route-id="@Model.id" class="btn btn-primary edit-profile">
        <i class="fas fa-plus-circle"></i> Edit Profile
    </a>
    <a asp-controller="Doctor" asp-action="Index" class="btn btn-secondary ml-2">
        <i class="fas fa-plus-circle"></i> Back to Index
    </a>
    <a asp-controller="Doctor" asp-action="GetRegisterdoctor" class="btn btn-secondary ml-2">
        <i class="fas fa-plus-circle"></i> Back to Registerdoctor
    </a>
    <a asp-controller="DoctorDaywork" asp-action="Index" asp-route-id="@Model.id" class="btn btn-secondary ml-2">
        <i class="fas fa-plus-circle"></i> Add Workdays
    </a>
</div>
<div class="container mt-5" >
    <h2 class="text-center">Doctor Profile</h2>
    <div class="card mt-4 mx-auto w-80 ">
        <img class="card-img-top" src="@Model.imphgurl" alt="Profile Image" width="150">
        <div class="card-body">
            <h5 class="card-title">Doctor Profile</h5>

            <table class="table">
                <tr>
                    <td class="bg-success"><strong>ID:</strong></td>
                    <td class="bg-success">@Model.id</td>
                    <td class="bg-success"><strong>Phone Number:</strong></td>
                    <td class="bg-success">@Model.Phonenumber</td>
                    <td class="bg-success"><strong>Title:</strong></td>
                    <td class="bg-success">@Model.Title</td>
                </tr>
                <tr>
                    <td class="bg-success"><strong>Salary:</strong></td>
                    <td class="bg-success">@Model.Salary</td>
                    <td class="bg-success"><strong>Hiring Date:</strong></td>
                    <td class="bg-success">@Model.HiringDate.ToShortDateString()</td>
                    <td class="bg-success"><strong>Bonus Working Hours:</strong></td>

                </tr>
                <tr>
                    <td class="bg-success"><strong>Contract URL:</strong></td>
                    <td class="bg-success">@Model.Contracturl</td>
                    <td class="bg-success"><strong>Working Days in Week:</strong></td>
                    <td class="bg-success">@Model.WorkingDaysinWeek</td>
                    <td class="bg-success"><strong>Starting Shift:</strong></td>
                    <td class="bg-success">@Model.StartingShift</td>
                </tr>
                <tr>
                    <td class="bg-success"><strong>Ending Shift:</strong></td>
                    <td class="bg-success">@Model.EndingShift</td>
                    <td class="bg-success"><strong>Gender:</strong></td>
                    <td class="bg-success">@Model.Gender</td>
                    <td class="bg-success"><strong>Street Address:</strong></td>
                    <td class="bg-success">@Model.StreetAddress</td>
                </tr>
                <tr>
                    <td class="bg-success"><strong>City:</strong></td>
                    <td class="bg-success">@Model.City</td>
                    <td class="bg-success"><strong>Role:</strong></td>
                    <td class="bg-success">@Model.RoleRegeseter</td>
                    <td class="bg-success"><strong>Nationality:</strong></td>
                    <td class="bg-success">@Model.Nationality</td>
                </tr>
                <tr>
                    <td class="bg-success"><strong>Username:</strong></td>
                    <td class="bg-success">@Model.username</td>
                    <td class="bg-success"><strong>Email:</strong></td>
                    <td class="bg-success">@Model.Email</td>
                    <td class="bg-success"><strong>Specialist:</strong></td>
                    <td class="bg-success">@Model.spicialist</td>
                </tr>
                <tr>
                    <td class="bg-success"><strong>Status in System:</strong></td>
                    <td class="bg-success">@Model.StatusDoctorInSystem</td>
                    <td class="bg-success"><strong>Postal Code:</strong></td>
                    <td class="bg-success">@Model.PostalCode</td>
                    <td class="bg-success"><strong>Date of Birth:</strong></td>
                    <td class="bg-success">@Model.Dateofbarth.ToShortDateString()</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
    $(document).ready(function () {
        var idField = $("#idField");
        var editProfileBtn = $(".edit-profile");
        idField.hide();

        editProfileBtn.click(function (event) {
            if (idField.is(":visible")) {
                idField.hide();
                var confirmMsg = "Are you sure you want to edit the profile?";
                if (!confirm(confirmMsg)) {
                    event.preventDefault();
                }
            } else {
                idField.show();
            }
        });
    });
</script>
