@model PagedList.IPagedList<hospitalVm.DoctorVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@{
    ViewData["Title"] = "All Confirmed Doctors";
    Layout = "_Layout";
}
@if (!Model.Any())
{
    <h1>No Data</h1>
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="~/css/contactindex.css" rel="stylesheet">

<style>
 
    .btn {
        width: 120px; /* Set a fixed width for buttons */
        height: 50px; /* Set a fixed height for buttons */
        margin: 5px; /* Add margin for spacing between buttons */
    }
</style>

<h2 class="mb-4">All Confirmed Doctors</h2>

<div class="container mt-4">
    <partial name="_AlertMessage" />

    <form id="search-form" method="get" action="@Url.Action("Index")">
        <input type="text" name="search" value="@ViewBag.Search" placeholder="Search..." id="search-input" class="form-control">
    </form>

    <a asp-controller="Doctor" asp-action="Save" class="btn btn-primary mb-3">
        <i class="fas fa-plus-circle"></i> Add Doctor
    </a>

    <table class="table table-hover table-success">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Img</th>
                <th>Confirmation</th>
                <th>Mang</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="patientTableBody">
            @foreach (var hospital in Model)
            {
                <tr class="patient">
                    <td>@hospital.username</td>
                    <td>@hospital.Email</td>
                    <td>@hospital.StatusDoctorInSystem</td>
                    <td>
                        <img class="rounded-circle img-fluid" src="@hospital.imphgurl" alt="@hospital.username" width="50">
                    </td>
                    <td>
                        <a asp-controller="Doctor" asp-action="Save" asp-route-id="@hospital.id" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-controller="Doctor" asp-action="Delete" asp-route-id="@hospital.id" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                        <a asp-controller="Doctor" asp-action="Details" asp-route-id="@hospital.id" class="btn btn-sm btn-info">
                            <i class="fas fa-info-circle"></i> Details
                        </a>
                    </td>
                    <td>
                        <a asp-controller="TimingShifts" asp-action="Index" class="btn btn-sm btn-info">
                            <i class="fas fa-info-circle"></i> Shifts
                        </a>
                        <a asp-controller="Daywork" asp-action="Index" asp-route-id="@hospital.id" class="btn btn-sm btn-success">
                            <i class="fas fa-plus-circle"></i> Add Week Shifts
                        </a>
                        <a asp-controller="TimingShifts" asp-action="Save" asp-route-Doctorname="@hospital.username" asp-route-DoctoId="@hospital.id" class="btn btn-sm btn-info">
                            <i class="fas fa-plus-circle"></i> Add Day Shifts
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" model="@Model" />

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/doctorindex.js"></script>
}
