
@{
    ViewData["Title"] = "Allshifts";
    Layout = "_Layout";
}
@model PagedList.IPagedList<hospitalVm.DoctorDayworkVM>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_AlertMessage" />
 <style>
    /* Add CSS styles for the background image */
    body {
        background-image: url('/Images/hospital14.jpg');

        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* Add other CSS styles here if needed */
</style>
<button type="button" id="allShiftsButton" class="btn btn-info">
    <a asp-controller="Daywork" asp-action="Index">
        <i class="fas fa-info-circle"></i> mang New Shifts
    </a>
</button>
<div id="doctorsTable">
    <table class="table table-bordered table-hover table-success">
        <thead>
            <tr>
                <th> Day Name</th>
                <th>Doctor Day Name</th>
              
                <th>DoctorName</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr data-doctor-id="@doctor.DoctorId" data-weekday-id="@doctor.WeekDaystId" data-daywork-id="@doctor.DoctorDayworkId">
                    <td>@doctor.dayname</td>
                  
                    <td>@doctor.DoctorName</td>
                    <td>@doctor.Hifts</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>


<partial name="_PaginationPartial" model="Model">
