

 
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination
@model IEnumerable<hospitalVm.DoctorDayworkVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_AlertMessage" />
<style>
    body {
        background-image: url('/Images/hospital11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Glass-like style for select elements */
    .glass-select {
        background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha channel for transparency */
        border: none;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

</style>

<select  class="form-control glass-select" id="hospitalDropdown">
    <option value="">Select Doctor</option>
    @foreach (var doctor in ViewBag.getdoctorfromapplicationuserid)
    {
        <option value="@doctor.Value">@doctor.Text</option>
    }
</select>

<p id="validationMessage" style="color: red;"></p>

<div id="doctorsTable">
    <table class="table table-bordered table-hover table-success
            table-bordered">
        <thead>
            <tr>
                <th>Doctor Day Name</th>
                <th>Starting PM Shift</th>
                <th>Starting AM Shift</th>
                <th>AM Shift</th>
                <th>PM Shift</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr data-doctor-id="@doctor.DoctorId" data-weekday-id="@doctor.WeekDaystId" data-daywork-id="@doctor.DoctorDayworkId">
                    <td>@doctor.dayname</td>
                    <td>@doctor.StartingPmShift</td>
                    <td>@doctor.StratingAmShafit</td>
                    <td>
                        <input type="checkbox" class="shift-checkbox isam" data-shift-type="am" @(doctor.isam ? "checked" : "") />
                    </td>
                    <td>
                        <input type="checkbox" class="shift-checkbox ispm" data-shift-type="pm" @(doctor.ispm ? "checked" : "") />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button type="button" id="saveButton" class="btn btn-primary" style="width: 150px" disabled>Save Shifts</button>
<button type="button" id="removeButton" class="btn btn-danger" style="width: 150px" disabled>Remove All Shifts</button>
<button type="button" id="allShiftsButton" class="btn btn-info">
    <a asp-controller="Daywork" asp-action="AllDayShifts">
        <i class="fas fa-info-circle"></i> All Shifts
    </a>
</button>

@section Scripts{

<script src="~/js/dayworkindex.js"></script> }
