@model PagedList.IPagedList<hospitalVm.PatientHistoryVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Patients";
}
<style>
    body {
        background-image: url('/Images/hospital17.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<h2>@ViewData["Title"]</h2>
@if (!Model.Any())
{
    <p>No  PatientHistoryVm.</p>
}
<form id="search-form" method="get" action="@Url.Action("Index")">
    <input type="text" name="search" value="@ViewBag.Search" placeholder="Search..." id="search-input">
</form>

<a asp-area="Patient" asp-controller="PatientHistory" asp-action="Save" id="Add">
    <i class="fas fa-plus-circle"></i> Add New Add nistory
</a>

<div id="search-results">
    <table class="table table-bordered table-hover table-success">
        <thead>
            <tr>
                <th>PatientName</th>
                <th>Assessment</th>
                <th>IsFollowUp</th>
                <th>Confirmation</th>
                <th>FamilyHistory</th>
                <th>HistoryOfPresentIllness</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="patientTableBody">
            @foreach (var patient in Model)
            {
                <tr class="patient">
                    <td>@patient.PatientName</td>
                    <td>@patient.Assessment</td>
                    <td>@patient.IsFollowUp</td>
                    <td>@patient.ChiefComplaint</td>
                    <td>@patient.FamilyHistory</td>
                    <td>@patient.HistoryOfPresentIllness</td>
                    <td>
                        <!-- Initial action button -->
                        <a @* asp-controller="Room" asp-action="Details" asp-route-id="@hospital.id"
                       *@ onclick="executeInitialAction('@Url.Action("Details", "PatientHistory", new { id = patient.Id })')">
                            <i class="fas fa-info-circle" title="Details"></i>
                        </a>
                        <!-- Subsequent action button -->
                        <a @* asp-controller="Room" asp-action="Save" asp-route-id="@hospital.id"
                       *@ onclick="return showEditConfirmation('@Url.Action("Save", "PatientHistory", new { id = patient.Id })')">
                            <i class="fas fa-edit" title="Edit"></i>
                        </a>
                        <a @* asp-controller="Room" asp-action="Save" asp-route-id="@hospital.id"
                       *@ onclick="return DeletEditConfirmation('@Url.Action("Delete", "PatientHistory", new
                   { id = patient.Id })')">
                            <i class="fas fa-trash-alt" title="Delete"></i>
                        </a>

                        <a asp-route-PatientId="@patient.PatientId" asp-area="Patient" asp-controller="PatientHistory" asp-action="GetALLpatientHistory" id="Add">
                        GetALLpatientHistory
                        </a> <!-- ... -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_PaginationPartial" model="Model" />

